<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="text-primary">
    <nav class="navbar navbar-inverse fixed-top bg-primary">
        @Html.ActionLink("Postcard Creator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </nav>
    <br />
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a id="file_upload" class="nav-link active">File Upload</a>
            </li>
            <li class="nav-item">
                <a id="drag_and_drop" class="nav-link">Drag &amp; Drop</a>
            </li>
            <li class="nav-item">
                <a id="web_cam" class="nav-link">Web Cam</a>
            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Postcard Creator</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>